{% extends 'master' %}
{% set algoliaKey = use('Env').get('ALGOLIA_KEY') %}
{% set latestVersion = use('Env').get('LATEST_DOCS_VERSION') %}

{% block title %}{{ meta.title }}{% endblock %}

{% block content %}
  <div class="switcher">
    <div class="container">
      <div class="row">
        {% include 'partials.version-switch' %}
        {% include 'partials.search' %}
      </div>
    </div>
  </div>
  <div class="docs-container">
    <div class="container">
      <div class="row">
        <div class="columns sidebar">
          {% asyncEach category, childs in menu %}
            {% include 'partials.category' %}
          {% endeach %}
        </div>
        <div class="columns docs">
          {% include 'partials.notification' %}
          <h1> {{ meta.title }} </h1>
          {{ contents | safe }}
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script>
  <script nonce="{{ cspNonce }}">
    docsearch({
      apiKey: '{{algoliaKey}}',
      indexName: 'adonisjs',
      inputSelector: '.search',
      algoliaOptions: { 'facetFilters': ["version:{{version}}"] }
    });

    (function ($) {
      function showSidebar () {
        $('.sidebar').addClass('active')
        $('body').addClass('active-sidebar')
      }

      function hideSidebar () {
        $('.sidebar').removeClass('active')
        $('body').removeClass('active-sidebar')
      }

      $('.hamburger').click(showSidebar)
      $('.overlay').click(hideSidebar)
      $(window).keyup(function (e) {
        if (e.which === 27) {
          hideSidebar()
        }
      })

      $('#version').on('change', function () {
        window.location = '/docs/' + $(this).val() + '/{{meta.permalink}}'
      })

    })(Zepto)
  </script>
{% endblock %}
