<div class="section features-section">
  <div class="row">
    <div class="columns five">
      <h4 class="title decorated-title">Notable Features</h4>
      <p>Adonis is built around practical use cases. Instead of giving you the tools, we try to give you solutions. Here is the list of handpicked features</p>
      <div class="cta">
        <a href="/docs" class="button"> Learn More </a>
      </div>
    </div>

    <div class="column one">&nbsp;</div>
    <div class="features six columns">
      <div class="row">
        <div class="feature">
          <h5>SQL ORM</h5>
          <p>AdonisJs ORM ( Lucid ) is an implementation of Active Record. Leave your traditional SQL queries behind and make use of shiny data models.</p>
        </div>

        <div class="feature">
          <h5>Authentication</h5>
          <p>Inbuilt authentication layer bundled with Sessions, JWT, Basic Auth and Personal API tokens to keep your applications secure.</p>
        </div>

        <div class="feature">
          <h5>ES2015 Controllers</h5>
          <p>AdonisJs makes use of ES2015 features. You define your controllers as Classes and controller methods makes use of ES2015 generators.</p>
        </div>
      </div>
    </div>
  </div>
</div>
