<header class="header">
  <div class="container">
    <div class="row">
      <div class="columns logo-container">
        <div class="logo"><a href="/">Adonis</a></div>
      </div>
      <div class="columns menu-container">
        <div class="menu u-cf">
          <div class="u-pull-right">
            {% include 'partials.menu' %}
          </div>
          <div class="hamburger u-pull-right">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
