<header class="header">
  <div class="container">
    <div class="row">
      <div class="columns logo-container">
        <div class="logo"><a href="/">Adonis</a></div>
      </div>
      <div class="columns menu-container">
        <div class="menu u-cf">
          <div class="u-pull-right">
            {% include 'partials.menu' %}
          </div>

          <div class="dropdown u-pull-right">
            <div class="hamburger">
              <div></div>
              <div></div>
              <div></div>
            </div>

            <div class="dropdown-menu">
              <a href="/docs" class="dropdown-list"> Docs </a>
              <a href="https://adonisjs.svbtle.com" target="_blank" rel="noopener"  class="dropdown-list"> Blog </a>
              <a href="https://github.com/adonisjs" target="_blank" rel="noopener"  class="dropdown-list"> Github </a>
              <a href="https://trello.com/b/yzpqCgdl/adonis-for-humans" target="_blank" rel="noopener"  class="dropdown-list"> Trello </a>
              <a href="https://twitter.com/adonisframework" target="_blank" rel="noopener"  class="dropdown-list"> Twitter </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
