<ul class="nav">
  <li>
    <a href="/docs"> Docs </a>
  </li>
  <li>
    <a href="https://adonisjs.svbtle.com" target="_blank" rel="noopener"> Blog </a>
  </li>
  <li>
    <a href="https://github.com/adonisjs" target="_blank" rel="noopener"> Github </a>
  </li>
  <li>
    <a href="https://trello.com/b/yzpqCgdl/adonis-for-humans" target="_blank" rel="noopener"> Trello </a>
  </li>
  <li>
    <a href="https://twitter.com/adonisframework" target="_blank" rel="noopener"> Twitter </a>
  </li>
</ul>
