<div class="topbar">

  <div class="container">

    <div class="topbar__message">
      Support AdonisJs development by becoming a patron
    </div>
    <a href="https://www.patreon.com/adonisframework" class="topbar__action">
      Support AdonisJs
    </a>

  </div>

</div>
