.header {
  padding: 15px 0;
  border-bottom: 1px solid $border-color;
}

.logo-container {
  width: grid-column-width(3);
}

.menu-container {
  width: grid-column-width(9);
}

.logo a {
  @extend .block-anchor;
  font-size: 4rem;
  letter-spacing: 2px;
  color: $dark-grey;
  font-family: $logo-font-family;
  font-weight: 300;
}

.hamburger {
  cursor: pointer;
  padding: 10px;
  width: 37px;
  margin: 20px 0 0 0;
  box-sizing: border-box;
  div {
    background: $font-color;
    margin-top: 4px;
    height: 2px;
    &:first-child {
      margin-top: 0;
    }
  }
}

.menu {
  width: 100%;
  ul {
    @include bare-list(null, null, 0, null);
    li {
      float: left;
      margin: 12px 20px 0 0;
      a {
        @extend .subtitle;
        @extend .block-anchor;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 10px 0;
        color: $secondary-color;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.dropdown {
  position: relative;
  &.active {
    .hamburger {
      background: $white-color;
      > div {
        background: $dark-grey !important;
      }
    }
    .dropdown-menu {
      display: block;
    }
  }  
}

.dropdown-menu {
  background: $white-color;
  position: absolute;
  padding: 5px 0;
  display: none;
  width: 150px;
  z-index: 1;
  right: 0;
  .dropdown-list {
    color: $dark-grey !important;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
  }
}