.subtitle {
  text-transform: uppercase;
  position: relative;
  color: $light-grey;
  letter-spacing: 1.2px;
  font-weight: 600;
  padding-bottom: 5px;
  font-size: 1.3rem;
}

@mixin bare-list($marginTop, $marginRight, $marginBottom, $marginLeft) {
  list-style: none;
  margin-top: $marginTop;
  margin-right: $marginRight;
  margin-bottom: $marginBottom;
  margin-left: $marginLeft;
}

@mixin centric-circle($size) {
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  width: $size;
  height: $size;
  line-height: $size;
}

.block-anchor {
  display: block;
  text-decoration: none;
}

@mixin base-font-size() {
  font-size: 1.6rem;
}

@mixin primary-gradient {
  background: $primary-color;
  background: -moz-radial-gradient(top,ellipse cover,$primary-color 11%,darken($primary-color, 7%) 99%,darken($primary-color, 7%) 100%);
  background: -webkit-gradient(radial,top center,0,center center,100%,color-stop(11%,$primary-color),color-stop(99%,darken($primary-color, 7%)),color-stop(100%,darken($primary-color, 7%)));
  background: -webkit-radial-gradient(top,ellipse cover,$primary-color 11%,darken($primary-color, 7%) 99%,darken($primary-color, 7%) 100%);
  background: -o-radial-gradient(top,ellipse cover,$primary-color 11%,darken($primary-color, 7%) 99%,darken($primary-color, 7%) 100%);
  background: -ms-radial-gradient(top,ellipse cover,$primary-color 11%,darken($primary-color, 7%) 99%,darken($primary-color, 7%) 100%);
  background: radial-gradient(ellipse at top,$primary-color 40%,#503d67 99%,#503d67 100%);
}
